li {
    display: inline;
}

.completed {
    text-decoration: line-through;
}

.custom-checkbox {
    display: none;
}

.custom-checkbox + .form-check-label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    background: url('/static/images/firewood1.png') no-repeat left center;
    background-size: 28px 28px;
}

.custom-checkbox:checked + .form-check-label {
    background: url('/static/images/fire1.png') no-repeat left center;
    background-size: 28px 28px;
}

.dropdown-toggle.btn-link {
    text-decoration: none;
}
  
.dropdown-toggle.btn-link::after {
    display: none;
}

.btn-link.dropdown-toggle:hover {
    background-color: #f0f0f0; 
}

.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}