<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/nav.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>

    <h1>Todo App</h1>

    <nav class="navbar navbar-expand-lg bg-primary">
        <a class="navbar-brand" href="/">All Tasks</a>
        <a class="navbar-brand" href="/active">Active Tasks</a>
        <a class="navbar-brand" href="/complete">Completed Tasks</a>
    </nav>

    <form action="/add" method="post">
        <div>
            <label for="title">Todo Title</label>
            <input type="text" name="title" placeholder="Enter Todo...">
            <br>
            <button type="submit">Add Item</button>
        </div>
    </form>


    {% for todo in todo_list %}
        <p> {{ todo.id }} | {{ todo.title}} </p>

        {% if todo.complete == False %}
            <span>Not Completed</span>
        {% else %}
            <span>Completed</span>
        {% endif %}

        <a href="/update/{{ todo.id }}">Update</a>
        <a href="/delete/{{ todo.id }}">Delete</a>
    {% endfor %}
    
</body>
</html>