<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/nav.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>

    <h1 class="text-center">Todo App</h1>

    <div class="d-flex justify-content-center">
        <form action="/" method="get" id="filterForm">
            <div class="btn-group" role="group" aria-label="Task Filters">
                <input type="radio" class="btn-check" name="filter" id="all" value="all" autocomplete="off" 
                    {% if filter_val == 'all' %}checked=""{% endif %}>
                <label class="btn btn-outline-primary" for="all">All Tasks</label>
            
                <input type="radio" class="btn-check" name="filter" id="active" value="active" autocomplete="off" 
                    {% if filter_val == 'active' %}checked=""{% endif %}>
                <label class="btn btn-outline-primary" for="active">Active Tasks</label>
            
                <input type="radio" class="btn-check" name="filter" id="complete" value="complete" autocomplete="off" 
                    {% if filter_val == 'complete' %}checked=""{% endif %}>
                <label class="btn btn-outline-primary" for="complete">Completed Tasks</label>
            </div>
        </form>
    </div>

    <form action="/add" method="post">
        <div>
            <label for="title">Todo Title</label>
            <input type="text" name="title" placeholder="Enter Todo...">
            <br>
            <button type="submit">Add Item</button>
        </div>
    </form>


    {% for todo in todo_list %}
        <p> {{ todo.id }} | {{ todo.title}} </p>

        {% if todo.complete == False %}
            <span>Not Completed</span>
        {% else %}
            <span>Completed</span>
        {% endif %}

        <a href="/update/{{ todo.id }}">Update</a>
        <a href="/delete/{{ todo.id }}">Delete</a>
    {% endfor %}
    
    <script>
        document.querySelectorAll('input[name="filter"]').forEach((radio) => {
          radio.addEventListener('change', () => {
            document.getElementById('filterForm').submit();
          });
        });
    </script>
  
</body>
</html>